# Торжественно клянуть, что затеваю только шалость

### Прячу конфигурационный файл ###
config.py
# file_source = ""
# file_info = ""
# cover = ""
# bot_token = ""
# group_id = 

### Прячу папку архивации ###
./.archive

### Прячу папку кэша ###
./__pycache__

### VS Code shit files ###
.vscode/

# Шалость удалась